@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

html, *, *::before, *::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;
  font-size: var(--font-size-base);
  font-family: "Space Mono", monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*, *::before, *::after {
  font-size: 0.8125rem;
  line-height: 1.5625rem;
}

#app {
  min-height: 100vh;
  color: var(--text-color-primary);
  background-color: var(--bg-color-secondary);
}

@media screen and (min-width: 36rem) {
  *, *::before, *::after {
    font-size: 0.9375rem;
  }
}
