<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Web app Challenge: GitHub user search - mode 02 (Vue-js v2)">
  <title>github-users-cmode02</title>

  <link rel="icon" type="image/ico" href="assets/images/favicon.ico" />
</head>

<link rel="stylesheet" href="styles/index.css">

<body>
  <!-- #app -->
  <div id="app" v-bind:data-theme="colorTheme.active">
    <!-- layout-container -->
    <div class="layout-container">
      <!-- layout-header -->
      <header class="layout-header">
        <h1 aria-label="logo of devfinder" class="layout-header-title">devfinder</h1>
        <button type="button" class="toggle-theme" v-on:click="toggleTheme">
          <span class="h4 toggle-theme-text">{{ colorTheme.next }}</span>
          <sun-icon v-if="colorTheme.next === 'light'"></sun-icon>
          <moon-icon v-else></moon-icon>
        </button>
      </header>
      <!-- layout-header (end)-->

      <!-- layout-main -->
      <main class="layout-main">
        <section class="page">
          <!-- searchbar -->
          <div> <!-- ** optional-required to avoid an error with grid-css on iOS and MacOs-safari ** -->
            <form name="searchbar" class="searchbar" v-on:submit="submit">
              <search-icon class="searchbar-icon"></search-icon>
              <label class="searchbar-input-container">
                <input
                  type="text"
                  name="search"
                  class="searchbar-input"
                  placeholder="Search GitHub username..."
                  v-model="search"
                />
                <span role="log" class="searchbar-error-label" v-show="isSearchError">No results</span>
              </label>
              <button type="submit" class="searchbar-btn">Search</button>
            </form>
          </div>
          <!-- search-bar (end)-->

          <!-- user-card -->
          <article class="card" v-if="!!user">
            <!-- card-header -->
            <header class="card-header">
              <img
                alt="avatar"
                width="100%"
                class="card-header-avatar"
                :src="user.avatar"
              />
              <section class="card-header-intro">
                <h1 class="intro-name" aria-roledescription="name of the user">
                  {{ user.name }}
                </h1>
                <h3 class="intro-username" aria-roledescription="username to login">
                  @{{ user.username }}
                </h3>
                <p class="intro-joined" aria-roledescription="date the user joined github">
                  {{ user.joined }}
                </p>
              </section>
              <section :class="['card-header-bio', { opacityAt75: !user['biography'] }]">
                <p aria-roledescription="user biography">
                  {{ user.biography ?? constants.TEXT_BIOGRAPHY_DEFAULT }}
                </p>
              </section>
            </header>
            <!-- card-header (end)-->

            <!-- card-main -->
            <main class="card-main">
              <section class="statistics-section">
                <div class="statistic-item">
                  <h4>repos</h4>
                  <p class="h2 textColorSecondary">{{ user["repos"] }}</p>
                </div>

                <div class="statistic-item">
                  <h4>followers</h4>
                  <p class="h2 textColorSecondary">{{ user["followers"]}}</p>
                </div>

                <div class="statistic-item">
                  <h4>following</h4>
                  <p class="h2 textColorSecondary">{{ user["following"] }}</p>
                </div>
              </section>
            </main>
            <!-- card-main (end)-->

            <!-- card-footer -->
            <aside class="card-footer">
              <div v-bind:class="['card-footer-detail', { opacityAt50: !user['location'] }]">
                <span><location-icon></location-icon></span>
                <p>{{ user["location"] || constants.TEXT_NOT_AVAILABLE }}</p>
              </div>

              <div v-bind:class="['card-footer-detail', { opacityAt50: !user['website'] }]">
                <span><website-icon></website-icon></span>
                <p>
                  <a target="_blank" rel="noreferrer" :href="user['website']">
                    {{ user["website"] || constants.TEXT_NOT_AVAILABLE }}
                  </a>
                </p>
              </div>

              <div v-bind:class="['card-footer-detail', { opacityAt50: !user['twitter'] }]">
                <span><twitter-icon></twitter-icon></span>
                <p>{{ user["twitter"] || constants.TEXT_NOT_AVAILABLE }}</p>
              </div>

              <div v-bind:class="['card-footer-detail', { opacityAt50: !user['company'] }]">
                <span><company-icon></company-icon></span>
                <p>{{ user["company"] || constants.TEXT_NOT_AVAILABLE }}</p>
              </div>
            </aside>
            <!-- card-footer (end)-->
          </article>
          <!-- user-card (end)-->
        </section>
      </main>
      <!-- layout-main (end)-->
    </div>
    <!-- layout (end)-->
  </div>
  <!-- #app (end)-->
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="icons.js"></script>
<script src="mainScript.js"></script>

</html>
